*{
    margin: 0 0;
		padding: 0 0;
		font-size: inherit;
}
:root {
    --font-color: #000;
    --link-color:#1f1f1f;
    --link-hover-color:grey;
    --bg-color: #fff;
}
[data-theme="dark"]{
		--font-color: #c1bfbd;
		--heading-font-color: #fff;
    --link-color:#0a86da;
    --link-hover-color:#c1bfbd;
    --bg-color: #111;
}
html {
	font-size: 65%;
}
h1, h2, h3, h4{
	font-family: 'Raleway', sans-serif;
	color: var(--heading-font-color);
	font-weight: 700;
}
h1 {
	font-size: 3.7rem;
	line-height: 4.2rem;
}
h2 {
	font-size: 3rem;
	line-height: 4rem;
}
h3 {
	font-size: 2.5rem;
	line-height: 3.5rem;
}
h4 {
	font-size: 2.1rem;
	line-height: 3rem;
}
p{
	font-family: 'Roboto', 'Source Sans Pro', sans-serif;
	font-size: 2rem;
	line-height: 2.5rem;
}
a:link {
		color: var(--link-color);
		text-decoration: none;
}
a:visited {
		color: var(--link-color);
		text-decoration: none;
}
a:hover {
		color: var(--link-hover-color);
		text-decoration: solid;
}
.sitewrap{
	display: flex;
	margin: 0;
	min-height: 100vh;
	flex-direction: column;
	align-items: stretch;
}
.sitewrap *{
	display: inherit;
}
.container {
		flex-direction: column;
		max-width: 100rem;
		width: 100%;
		font-size: 4rem;
		margin: 0 auto;
		padding: 1rem 3rem;
}
.centered{
	display: flex;
	justify-content:center ;
}
.no-show{
	display: none;
}
.nav {
	position: fixed;
	width: 100%;
	align-items: center;
	background-color: var(--bg-color);
	top: 0;
	z-index: 2;
}
.nav .nav-wrap{
	flex-wrap: wrap;
	margin-top: 1rem;
}
.nav .nav-home{
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	flex: 20%;
}
.nav a{
	font-family: 'Roboto', 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.3rem;
}
.nav i{
	font-size: 2rem;
	padding: 0 0.8rem;
	color: var(--link-color);
	cursor: pointer;
}
.nav .nav-list{
	list-style: none;
	flex-grow: 60%;
	/* flex-direction: row; */
	justify-content: flex-end;
}
.nav .nav-item{
	margin: 0 0.8rem;
	/* align-content: center; */
	height: 3rem;
}
.nav .bars{
	display: none;
}
@media screen and (max-width: 50rem){
	html{
		font-size: 75%;
	}
	.container{
		padding: 1rem 1.5rem;
	}
	.nav .nav-list {
		display: block;
		z-index: 2;
		flex: 100%;
		order: 3;
		max-height: 0rem;
		opacity: 0;
		margin-top: 1rem;
		transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), max-height 0.1s linear 0.15s;
	}
	.nav .nav-mob {
		flex: 75%;
		justify-content: flex-end;
	}
	.nav .bars{
		display: inline-block;
	}
	.nav .nav-item{
		text-align: center;
		margin-bottom: 0.7rem;
	}
	.nav #menu-toggle:checked ~ label .bars{
		color: var(--link-hover-color);
	}
	.nav #menu-toggle:checked ~ .nav-list{
		max-height: 7rem;
		opacity: 1;
		transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, max-height 0.1s linear;
	}
}
.content-wrap{
	flex-grow: 1;
	padding-top: 6rem;
	background-color: var(--bg-color);
}
.content-wrap .content{
	padding: 1rem 0;
	align-items: center;
	justify-content: center;
	color: var(--font-color);
}
@media screen and (max-width: 100rem){
	.content-wrap .content{
		flex-wrap: wrap;
		
	}

}
.footer{
	background-color: var(--bg-color);
	height: 3rem;
}
