.content-wrap .info{
  flex-direction: column;
  padding: 0 2rem;
}
.content-wrap #dp{
  width: 100%;
  max-width: 30rem;
	border-radius: 10%;
}
.content-wrap .info h1, .content-wrap .info h2{
  margin: 0;
}
.content .cont-item{
  font-size: 4rem;
  padding: 0 1rem;
  text-align: center;
}

@media screen and (max-width: 100rem){
  .content-wrap .info{
    padding: 2rem 0;
  }
  .content-wrap .info *{
    justify-content: center;
    text-align: center;
  }
}
